h1{text-align:center;}
p
{
	font-style:italic;
	justify;
}

body 
{
	font-family:'Open Sans';
}
html 
{ 
  background: url("images/wallpaper.jpg") no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#interet
{
	width:25%; /*Largeur max pour pas dépasser*/
}
#entete
{
	text-align:center;
}
#tiret
{
	list-style
}
