h1{text-align:center;}
p{font-style:italic;}
body 
{
	font-family:'Open Sans';
}
html 
{ 
  background: url("images/wallpaper.jpg") no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  background-size: cover; /* version standardisée */
}
#interet
{
	width:25%; /*Largeur max pour pas dépasser*/
}